---
layout: page
title: Blog
permalink: /blog/
---

<section class="page blog _height-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>

    <div class="row cards">
      {% if site.posts.size == 0 %}
      <h2>Nenhum post encontrado =(</h2>
      {% else %}
      {% for post in site.posts %}
      <div class="col-4 col-sm-12">
        <article class="card">
          <a href="{{ post.url }}">
            <div class="card-flag">
              <span class="text">{{post.flag}}</span>
            </div>

            <figure class="card-figure">
              <img class="image" src="/{{ post.image }}">
            </figure>

            <div class="card-content">
              <time class="time">
                {{ post.date | date: "%d" }} de
                {% assign m = post.date | date: "%-m" %}
                {% case m %}
                {% when '1' %}Janeiro
                {% when '2' %}Fevereiro
                {% when '3' %}Março
                {% when '4' %}Abril
                {% when '5' %}Maio
                {% when '6' %}Junho
                {% when '7' %}Julho
                {% when '8' %}Agosto
                {% when '9' %}Setembro
                {% when '10' %}Outubro
                {% when '11' %}Novembro
                {% when '12' %}Dezembro
                {% endcase %}
                de {{ post.date | date: "%Y" }}
              </time>
              <h2 class="title">
                {{ post.title }}
              </h2>
              <p class="text">
                {{ post.intro }}
              </p>
            </div>
          </a>
        </article>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
