---
layout: default
---

<section class="banner height-100 d-flex align-items-center">
  <div class="container">
    <article>
      <h1 class="banner-title">Desenvolvimento Web</h1>
      <p class="banner-text">
        Além das linhas de código
        <i class="fas fa-code"></i>
      </p>
    </article>
  </div>
</section>

<section class="portfolio">
  <div class="container">

    <div class="row">
      <div class="flex-m-12">
        <h1 class="section-title">
          Portfólio
        </h1>
      </div>
    </div>

    <div class="row portfolio-item align-items-center">
      <div class="flex-6 flex-m-12">
        <figure class="portfolio-image">
          <img src="/assets/img/portfolio/brastemp-gourmand.png" alt="Brastemp Gourmand" title="Brastemp Gourmand">
        </figure>
      </div>

      <div class="flex-6 flex-m-12">
        <article>
          <h2 class="portfolio-title">
            Brastemp Gourmand
          </h2>
          <p class="portfolio-text">
            Desenvolvimento de landing page da linha gourmand da Brastemp na plataforma VTEX IO.
          </p>
          <a href="https://www.brastemp.com.br/linhas-especiais/brastemp-gourmand" target="_blank" rel="nofollow"
            title="Ver Projeto" class="portfolio-btn">Ver
            Projeto</a>
        </article>
      </div>
    </div>

    <div class="row portfolio-item align-items-center column-m-reverse">
      <div class="flex-6 flex-m-12">
        <article>
          <h2 class="portfolio-title">
            Brastemp Masterchef
          </h2>
          <p class="portfolio-text">
            Desenvolvimento de landing lage para a linha masterchef da Brastemp na plataforma VTEX IO.
          </p>
          <a href="https://www.brastemp.com.br/masterchefbrasil" target="_blank" rel="nofollow" title="Ver Projeto"
            class="portfolio-btn">Ver
            Projeto</a>
        </article>
      </div>
      <div class="flex-6 flex-m-12">
        <figure class="portfolio-image">
          <img src="/assets/img/portfolio/brastemp-masterchef.png" alt="Brastemp Masterchef"
            title="Brastemp Masterchef">
        </figure>
      </div>
    </div>

    <div class="row portfolio-item align-items-center">
      <div class="flex-6 flex-m-12">
        <figure class="portfolio-image">
          <img src="/assets/img/portfolio/rihappy-baby.png" alt="Ri Happy Baby" title="Ri Happy Baby">
        </figure>
      </div>

      <div class="flex-6 flex-m-12">
        <article>
          <h2 class="portfolio-title">
            Ri Happy Baby
          </h2>
          <p class="portfolio-text">
            Desenvolvimento front-end da Ri Happy Baby na plataforma VTEX.
          </p>
          <a href="https://www.rihappy.com.br/bebes" target="_blank" rel="nofollow" title="Ver Projeto"
            class="portfolio-btn">Ver
            Projeto</a>
        </article>
      </div>
    </div>

  </div>
</section>

<section class="cards height-80">
  <div class="container">
    <div class="row">
      <div class="flex-m-12">
        <h1 class="section-title">
          Últimas Postagens
        </h1>
      </div>

      {% if site.posts.size == 0 %}
      <h2>Nenhum post encontrado =(</h2>
      {% else %}
      {% for post in site.posts %}
      <div class="flex-4 flex-m-12">

        <article class="card">
          <a href="{{ post.url }}">
            <div class="card-flag">
              <span>{{post.flag}}</span>
            </div>

            <figure class="card-figure">
              <img src="/{{ post.image }}">
            </figure>

            <div class="card-content">
              <time class="card-time">
                {{ post.date | date: "%d" }} de
                {% assign m = post.date | date: "%-m" %}
                {% case m %}
                {% when '1' %}Janeiro
                {% when '2' %}Fevereiro
                {% when '3' %}Março
                {% when '4' %}Abril
                {% when '5' %}Maio
                {% when '6' %}Junho
                {% when '7' %}Julho
                {% when '8' %}Agosto
                {% when '9' %}Setembro
                {% when '10' %}Outubro
                {% when '11' %}Novembro
                {% when '12' %}Dezembro
                {% endcase %}
                de {{ post.date | date: "%Y" }}
              </time>
              <h2 class="card-title">
                {{ post.title }}
              </h2>
              <p class="card-text">
                {{ post.intro }}
              </p>
            </div>
          </a>
        </article>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
