<header class="header {% if page.url == "/" %}-black{% endif %}">
	<div class="container">
		<div class="row _align-items-center">

			<div class="col-2 col-sm-8">
				{% if page.url == "/" %}
				<h1 class="logo">
					<a href="/">
						<img src="/assets/img/logo.svg" alt="Breno Sena Desenvolvedor Web" title="Breno Sena">
					</a>
				</h1>
				{% else %}
				<div class="logo">
					<a href="/">
						<img src="/assets/img/logo.svg" alt="Breno Sena Desenvolvedor Web" title="Breno Sena">
					</a>
				</div>
				{% endif %}
			</div>

			<div class="col-10 col-sm-4">
				<button class="menu-open">
					<i class="fas fa-bars"></i>
				</button>

				<nav class="menu">
					<button class="menu-close">
						<i class="fas fa-times"></i>
					</button>
					
					<ul class="menu-list nav _justify-content-end">
						<li class="item">
							<a class="link" href="/">Home</a>
						</li>

						{% for page in site.pages %} {% unless page.exclude %} {% if page.title %}
						<li class="item">
							<a class="link" href="{{ page.url }}">{{ page.title }}</a>
						</li>
						{% endif %} {% endunless %} {% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
