@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Condensed:400,700');
$primary-color: #212121;
$secondary-color: #00e0d0;
$primary-font: 'Lato';
$secondary-font: 'Roboto Condensed';

/* Reset */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: $primary-font;
  font-size: 16px;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.height-100 {
  min-height: 100vh;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  $width: $i / 12 * 100%;
  .col-#{$i} {
    flex: 0 0 $width;
    padding: 0 15px;
  }
  @media only screen and (max-width: 960px) {
    .col-m-#{$i} {
      flex: 0 0 $width !important;
      padding: 0 15px;
    }
  }
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}