$primary-color: #fff;
$title-color: #616e7a;
$text-color: #384652;
$font-logo: 'Lobster', cursive;
$font-site: 'Open Sans', sans-serif;

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

/* Reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {  
  width: 100%; 
  height: 100%;
}

body{
  background: $primary-color;
}

/* Tipografia */
p, a, h1, h2, h3, time, ul, li{
  font-family: $font-site;
}

p{
	font-size: 1.4em;
  color: $text-color;
  padding: 0.9em 0;
}

a{
  cursor: pointer;
}

h1, h2, h3{
  font-weight: 700;
  color: $title-color;
}

h1{
  font-size: 2.0em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h2{
  font-size: 1.8em;
}

h3{
  font-size: 1.5em;
}

ul{
  font-size: 1.3em;
  color: $text-color;
}

time{
  font-size: 1.1em;
  color: #777;
}

/* Imagens */
img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}