@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Titillium+Web:400,700');
$primary-color: #000;
$secondary-color: #00e0d0;
$primary-font: 'Open Sans';
$secondary-font: 'Titillium Web';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: $primary-font;
  font-size: 16px;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

ol {
  padding-left: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
li {
  letter-spacing: .1em;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-col-wrap: wrap;
  flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-col-wrap: wrap;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  $width: $i / 12 * 100%;

  .col-sm-#{$i} {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $width;
    flex: 0 0 $width;
  }
}

@media screen and (min-width: 961px) {
  @for $i from 1 through 12 {
    $width: $i / 12 * 100%;

    .col-#{$i} {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 $width;
      flex: 0 0 $width;
    }
  }
}

[class*=col-] {
  padding: 0 15px;
}

._d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-col-wrap: wrap;
  flex-wrap: wrap;
}

._flex-wrap {
  flex-wrap: wrap;
}

._flex-row {
  flex-direction: row;
}

._flex-row-reverse {
  flex-direction: row-reverse;
}

._flex-column {
  flex-direction: column;
}

._flex-column-reverse {
  flex-direction: column-reverse;
}

@media screen and (max-width: 960px) {
  ._flex-column-sm-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-col-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

._justify-content-center {
  -webkit-box-pack: center;
  -ms-col-pack: center;
  justify-content: center;
}

._justify-content-between {
  -webkit-box-pack: justify;
  -ms-col-pack: justify;
  justify-content: space-between;
}

._justify-content-end {
  -webkit-box-pack: end;
  -ms-col-pack: end;
  justify-content: flex-end;
}

._align-items-center {
  -webkit-box-align: center;
  -ms-col-align: center;
  align-items: center;
}

._text-left {
  text-align: left;
}

._text-center {
  text-align: center;
}

._text-right {
  text-align: right;
}

._no-padding {
  padding: 0;
}

._no-margin {
  margin: 0;
}

@for $i from 1 through 10 {
  $height: $i * 10;

  ._height-#{$i}0 {
    min-height: #{$height}vh;
  }
}
