/* Menu */
.menu ul{
  font-size: 1.2em;
}

.menu .logo{
  font-family: $font-logo;
  font-size: 1.6em;
  color: $secondary-color;
}
.menu .navbar{
  background: transparent;
  border: none;
}
.menu .navbar-default .navbar-nav>a:hover{
  font-weight: bold;
  background: transparent;
  color: $secondary-color;
}
.menu .navbar-header .navbar-toggle{
  background: transparent;
  border: none;
}
.menu .navbar-header .navbar-toggle:hover{
    &:focus{
      background: none;
      border: none;
    }
}
.menu .navbar-collapse{
  border: none;
}
.menu .navbar-toggle .icon-bar{
  background: $secondary-color;
}

/* Cards */
.card{
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #ddd;
  margin: 20px 0;

  a{
    text-decoration: none;
    color: $secondary-color;
  }
}

/* Post */
.post-header{
  width: 100%;
  height: auto;
  padding: 100px 0;
  background: url('/assets/img/bg-header.jpg') no-repeat fixed;
  @include background-size(cover);
  filter: grayscale(70%);
  h1, time{
   color: #fff;
   display: block;
  }
  h1{
    font-size: 3.75rem;
  }
}


.post-content a{
  border-bottom: dashed 2px $secondary-color;
  text-decoration: none;
  color: $secondary-color;
}

/* Social */
.social{
  text-align: center;
  font-size: 2em;
  margin: 20px 0;

  i{
    color: $secondary-color;
  }
  a{
    text-decoration: none;
    margin: 5px;
  }
}
  
/* Footer */
.footer{
  clear: both;
  margin: 20px 0;

  p{
    text-align: center;
    font-size: 1.2em;
  }

  i{
    color: tomato;
  }
}

/* Tags */

.tags{
  border: solid 1px $secondary-color;
  border-radius: 5px;
  padding: 3px;
  margin: 10px 0;
  display: inline-block; 
  color: $secondary-color;
}


/* Compartilhar */
.share{
  text-align: center;
  i{
    font-size: 3em;
  }
  a{
    margin: 10px;
    color: $secondary-color;
    &:hover{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
  }
}