/* Menu */
.menu ul{
  font-size: 1.2em;
}

.menu .logo{
  font-family: $font-logo;
  font-size: 1.6em;
  color: $secondary-color;
}
.menu .navbar{
  background: transparent;
  border: none;
}
.menu .navbar-default .navbar-nav>a:hover{
  font-weight: bold;
  background: transparent;
  color: $secondary-color;
}
.menu .navbar-header .navbar-toggle{
  background: transparent;
  border: none;
}
.menu .navbar-header .navbar-toggle:hover{
    &:focus{
      background: none;
      border: none;
    }
}
.menu .navbar-collapse{
  border: none;
}
.menu .navbar-toggle .icon-bar{
  background: $secondary-color;
}

/* Cards */
.cards h2{
  text-align: center;
  font-size: 2.0em;
}
.card{
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #ddd;
  margin: 20px 0;

  a{
    text-decoration: none;
    color: $secondary-color;
  }
}

/* Post */
.post-header{
  padding: 40px;
  text-align:center;
  color: #333;
  width: 100%;

  h1{
    font-size: 2.0em;
  }
}

.post a{
  text-decoration: none;
  border-bottom: 2px dashed;
}

/* Social */
.social{
  text-align: center;
  font-size: 2em;
  margin: 20px 0;

  i{
    color: $secondary-color;
  }
  a{
    text-decoration: none;
    margin: 5px;
  }
}
  
/* Footer */
.footer{
  clear: both;
  margin: 20px 0;

  p{
    text-align: center;
    font-size: 1.2em;
  }

  i{
    color: tomato;
  }
}

/* Tags */

.tags{
  border: solid 1px $secondary-color;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  display: inline; 
  color: $secondary-color;
}