.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}


/* LOGO */

.logo a img {
  max-width: 180px;
}

.logo{
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.logo:hover {
  opacity: .7;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: $primary-color;
  width: 25%;
  position: fixed;
  left: 0;
}


/* MENU */

.menu {
  margin: 40px 0;
}

.menu ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.menu ul li a:hover {
  color: $secondary-color;
}


/* REDES SOCIAIS */

.social {
  margin: 20px 0;
}

.social ul li {
  float: left;
  margin: 10px 5px;
}

.social ul li a {
  color: $secondary-color;
  font-size: 2em;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.social ul li a:hover {
  color: #fff;
}


/* CARDS */

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cards .card {
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  display: block;
  min-height: 170px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.cards .card:hover {
  border-color: $secondary-color;
}

.cards .card time {
  color: #9A9A9A;
  font-size: .9em;
  margin: 10px 0;
}

.cards .card h2 {
  margin: 10px 0;
}

.cards .card h2 a {
  color: $primary-color;
  text-decoration: none;
}

.cards .card p {
  color: #222;
  margin: 10px 0;
}

.cards .card .tags {
  border: solid 1px $secondary-color;
  float: left;
  margin: 10px 5px 10px 0px;
  margin-right: 10px;
  padding: 0 5px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  color: #222;
}


/* Post */

.post {
  width: 100%;
  .post-header {
    position: relative;
    .picture {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
        position: absolute;
        -o-object-fit: cover;
        object-fit: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-filter: grayscale(80%);
        filter: grayscale(80%);
      }
    }
    .wrapper {
      position: relative;
      z-index: 3;
      padding: 40px;
    }
    h1 {
      font-weight: 800;
      font-style: normal;
      color: #fff;
    }
    time {
      color: #fff;
    }
  }
  .post-content {
    padding: 40px;
    h2 {
      font-size: 1.4em;
      color: $primary-color;
      margin: 10px 0;
    }
    h3{
      color: $primary-color;
      font-size: 1.2em;
      margin: 10px 0;
    }
    p {
      margin: 10px 0;
      color: #222;
      font-size: 1em;
    }
    img {
      border-radius: 5px;
    }
    ul {
      li {
        margin: 1em 0;
        a {
          font-size: 1em;
          border-bottom: dashed 2px $primary-color;
          text-decoration: none;
          color: $primary-color;
        }
      }
    }
    blockquote {
      border-left: 3px solid $primary-color;
      padding: 0 20px;
      margin: 10px 0;
      p {
        color: #777;
      }
    }
    em {
      color: #212121;
      font-style: normal;
      font-weight: 600;
    }
  }
}


/* SHARE */

.share {
  text-align: center;
  h3 {
    margin: 20px 0;
    color: #222;
    font-size: 1.2em;
  }
  .share-icons li {
    display: inline-block;
    list-style: none;
    text-align: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    &:hover {
      -webkit-transition: all 1s;
      transition: all 1s;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    a {
      margin: 10px;
      color: $primary-color;
      text-decoration: none;
      -webkit-transition: all 2s;
      transition: all 2s;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      i {
        font-size: 3em;
      }
    }
  }
}

#disqus_thread {
  margin: 40px;
}


/* PAGINAS */

.page h1,
.page h2,
.page h3 {
  color: $primary-color;
  margin: 20px 0;
}

.page h1 {
  font-size: 1.6em;
}

.page h2 {
  font-size: 1.4em;
}

.page h3 {
  font-size: 1.2em;
}

.page p {
  color: #222;
  font-size: 1em;
  margin: 20px 0;
}

.page .wrapper {
  margin: 40px;
  text-align: center;
}

.page ul li {
  color: #777;
}


/* FOOTER */

.footer {
  width: 100%;
  margin: 20px 0px;
}

.footer p {
  color: #222;
  text-align: center;
  font-size: 1em;
  margin: 0 10px;
}

.footer p a {
  color: $secondary-color;
  text-decoration: none;
}

.footer p i {
  color: tomato;
  -webkit-animation: pulse .5s infinite alternate ease-in;
  animation: pulse .5s infinite alternate ease-in;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media screen and (max-width: 860px) {
  .aside {
    left: -100%;
    z-index: 9999;
    width: 80%;
    -webkit-transition: left .2s ease-out;
    transition: left .2s ease-out;
  }
  .container {
    margin-left: 0;
  }
  .menu-ativo .aside {
    left: 0;
  }
  .menu-abrir,
  .menu-fechar {
    background: none;
    border: none;
    margin: 20px;
    font-size: 2em;
    cursor: pointer;
    outline: none;
  }
  .menu-abrir {
    color: $primary-color;
  }
  .menu-fechar {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media not all and (max-width: 860px) {
  .menu-abrir,
  .menu-fechar {
    display: none;
  }
}