---
layout: default
comments: true
# other options
---

<article>
	<header class="post-header">
		<picture class="picture">
			<img src="{{ page.image }}" alt="{{ page.alt }}">
		</picture>
		<div class="wrapper">
			<time>
	      {{ page.date | date: "%d" }} de 
	      {% assign m = page.date | date: "%-m" %}
	        {% case m %}
	        {% when '1' %}Janeiro
	        {% when '2' %}Fevereiro
	        {% when '3' %}Março
	        {% when '4' %}Abril
	        {% when '5' %}Maio
	        {% when '6' %}Junho
	        {% when '7' %}Julho
	        {% when '8' %}Agosto
	        {% when '9' %}Setembro
	        {% when '10' %}Outubro
	        {% when '11' %}Novembro
	        {% when '12' %}Dezembro
	        {% endcase %}
	     	de {{ page.date | date: "%Y" }}
      </time>
			<h1>{{ page.title }}</h1>
		</div>
	</header>

	<div class="post-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	<footer>
		<div class="wrapper">
			{% include share.html %}

			<div id="disqus_thread"></div>
			<script>
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//breno-sena.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
	</footer>	
</article>